@{
    ViewBag.Title = "Scheduler | Multiple schedulers";
    ViewBag.SampleTitle = "Multiple schedulers";
    ViewBag.ShortDescription = "Several calendars can be created on single page";
    ViewBag.LongDescription = "Each scheduler must have unique name. <br />";
}


<div style="height:400px">
@Html.Raw(Model.Sh1.Render()) %>
</div>
<div style="height:400px">
@Html.Raw(Model.Sh2.Render()) %>
</div>

