<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>@ViewBag.Title</title>
    <style type="text/css">
	    html, body
	    {
	        height:100%;
	        padding:0px;
	        margin:0px;
	        overflow:hidden;
	    }    
	</style>
    <link href="@Url.Content("~/Content/samples.css")" rel="stylesheet" type="text/css" />   
</head>
<body> 
    <div id="header" class="header_class">  
          @RenderSection("Header")
    </div> 
    <div id="main_content">
        <script type="text/javascript">
            (function () {
                var hold = false;
                function initSize() {
                    if (hold) return;
                    setTimeout(function () { hold = false; }, 100);
                    hold = true;
                    var head = document.getElementById("header");
                    var headHeight = 1 * (head.offsetHeight || head.clientHeight);
                    document.getElementById("main_content").style.height = (window.innerHeight || window.document.body.clientHeight) - headHeight + "px";
                }
                if (window.attachEvent) {
                    window.attachEvent("onresize", initSize);
                } else {
                    window.addEventListener("resize", initSize, false);
                }
                initSize();
            })()
        </script>
        
       
        @RenderBody()   
    </div>
    
</body>
</html>
