<link href="../../Content/index.css" rel="stylesheet" type="text/css" />
<span style="padding: 27px 0 0 51px;font-family: arial;font-size: 16px;color: white;float: left;">DHTMLX documentation</span>
<span style="display:inline-block;float:right;background:url('/Content/mvc.png');repeat:none;width:298px;height:78px;"></span>