<div class="samp_header" >
    <div class="sample_title">@ViewBag.SampleTitle</div>
    <div class="vertical_line"></div>
    <div class="desk_holder">
        <div class="short_description">@ViewBag.ShortDescription</div>
        <div class="long_description">@Html.Raw(ViewBag.LongDescription)</div>
    </div>     
</div> 
